version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: home_assets
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
      - ./server/init.sql:/docker-entrypoint-initdb.d/init.sql
  server:
    build: ./server
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: home_assets
      PORT: 5000
    ports:
      - '5000:5000'
    depends_on:
      - db
    # Removed bind mount to ensure node_modules are installed inside the image
  client:
    build: ./client
    ports:
      - '3000:80'
    depends_on:
      - server
volumes:
  db_data:
